<section id= "add">
<form action="/" method="post">
<textarea name="person_name" placeholder="What is your name?"></textarea>
<textarea name="ordered_drink" placeholder="enter your drink..."></textarea>
<input type ="submit" value= "Place order!">
</form>
</section>

<!-- blur other elements when focus on textarea-->

 <script> 

 var blurring= function() {

$('#main > #drinks').css("-webkit-filter", "blur(3px)");

 }

$(document).ready(function() {    

  $(document.body).on('focus','#main > #add textarea', blurring);

  $('#main > #add textarea').blur(function () {

$(this).off('focus')
  } )

 
});

 </script> 

<!-- displaying the drinks onto the webpage --> 

<div id ="drinks">
  <article>
  <table>
   <thead>
     <tr>
     <th> Name </th>
      <th> Drink </th>
      <th> Ordered at </th>
      <th> </th>
      <th></th>
      </tr> 
      </thead>
      <% @drinks.each do |item| %>
    <tbody>
    <tr class="items">
      <td > <%= item.name %></td>
      <td><%= item.d_order %> </td>
      <td> <%= item.ordered_at.strftime("%I:%M%p") %> </td>
      <td> <a href="/<%= item.id %>">edit</a> </td>
       <td><a href="/<%= item.id %>/complete">&#8623;</a></td>
      </tr>
      </tbody>
   
    <% end %>

    </table>
  </article>
  </div>




