<section id= "add">
<form action="/" method="post">
<textarea name="person_name" placeholder="What is your name?"></textarea>
<textarea name="ordered_drink" placeholder="enter your drink..."></textarea>
<input type ="submit" value= "Place order!">
</form>
</section>


<!-- displaying the drinks onto the webpage --> 
<% @drinks.each do |item| %>
<div id ="drinks">
  <article <%= 'class="complete"' if item.complete %>>
    <p class="items">
      <p > <strong>Name:</strong> <%= item.name %></p>
      <p ><strong>Drink: </strong><%= item.d_order %> </p>
      
      <span><a href="/<%= item.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= item.id %>/complete">&#8623;</a>
    </p>
    <p class="meta" style="padding-left:20%"><strong>Ordered: </strong><%= item.ordered_at.strftime("%I:%M%p") %></p>
  </article>
  </div>
<% end %>



